/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/** SECTIONS **/

#controls {
  margin: auto;
  width: 63em;
}

#canvasSec .top-pad {
  padding-top: 2em;
}

/** HEADINGS **/

@font-face {
  font-family: "SF Pixelate Shaded Bold";
  src: url(SFPixelateShaded-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "SF Pixelate";
  src: url(SFPixelate.ttf) format("truetype");
}

h1 {
  font-family: "SF Pixelate Shaded Bold";
  font-size: 6em;
  margin: 0.2em;
}

h2,
legend {
  font-family: "SF Pixelate";
  font-size: 1.5em;
  font-weight: normal;
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  font-size: 2.5em;
  margin: .5em 0;
}

/** TABLES **/

table,
tr,
td {
  border: 1px solid #999;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 1em;
}

td {
  height: 1em;
  width: 1em;
}

/** FORMS **/

form {
  font-family: "SF Pixelate";
}

label {
  font-size: 1.3em;
}

input {
  font: normal normal normal 1rem/1rem sans-serif;
}

input[type="number"] {
  width: 4em;
}

label[for="inputWidth"] {
  margin-left: .8em;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  border: 0.2em solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 0.6em;
  position: relative;
  top: 4px;
}

input:checked {
  border: 0.6em solid #555555;
}

#clearCanvas,
#sizePickerSubmit {
  margin-left: 0.8em;
}

/** HELPERS **/

.l-box {
  padding: 1em;
}

.top-pad {
  padding-top: 1em;
}

.bottom-pad {
  padding-bottom: 1em;
}