/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: mediumpurple;
  font-family: "SF Pixelate";
}

body::after {
  content: "";
  background-image: url("/pink.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: -1;
}

/** SECTIONS **/

#controls {
  margin: 0;
}

#canvasSec .top-pad {
  padding-top: 2em;
}

/** HEADINGS **/

@font-face {
  font-family: "SF Pixelate Shaded Bold";
  src: url(SFPixelateShaded-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "SF Pixelate";
  src: url(SFPixelate.ttf) format("truetype");
}

h1 {
  color: rgb(124, 78, 216);
  font-family: "SF Pixelate Shaded Bold";
  font-size: 6em;
  margin: 0.2em;
  text-align: center;
}

h2,
.pure-form legend {
  color: mediumpurple;
  font-family: "SF Pixelate";
  font-size: 1.5em;
  font-weight: normal;
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

h3:first-of-type {
  margin: 0.3em 0 0.4em 0;
  font-size: 1.3em;
  font-weight: normal;
}

/** TABLES **/

table,
tr,
td {
  border: 1px solid #999;
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 1em;
}

td {
  height: 1em;
  width: 1em;
}

#colorPalette {
  border: none;
  margin: 0 0 0.5em 0;
}

#colorPalette tr {
  border: none;
}

#colorPalette td {
  height: 2em;
  width: 2em;
}

#colorPalette:hover {
  cursor: url("/iconmonstr-eyedropper-1.svg") 0 24, pointer;
}

#pixelCanvas:hover {
  cursor: url("/iconmonstr-pencil-15.svg") 0 24, pointer;
}

/** FORMS **/

form {
  font-family: "SF Pixelate";
}

#colorFieldset legend {
  letter-spacing: normal !important;
}

label {
  display: inline-block;
  font-size: 1.3em;
  margin: 0.5em;
  margin-bottom: 0.8em !important;
  vertical-align: middle;
}

input {
  font: normal normal normal 1rem/1rem sans-serif;
}

.pure-form input[type="number"] {
  padding: 0.3em 0.5em 0.2em;
  margin-right: 0.8em;
  width: 3.5em;
}

.pure-form input[type="color"] {
  padding: 0.2em;
  height: 2em;
  width: 4em;
  border-radius: 0.1em;
}

.pure-form input[type="color"]:hover {
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  border: 0.2em solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 0.6em;
  position: relative;
  top: 4px;
}

input[type="radio"]:hover {
  cursor: pointer;
}

input:checked {
  border: 0.6em solid #555555;
}

#clearCanvas,
#sizePickerSubmit {
  margin-right: 0.8em;
}

/** HELPERS **/

.l-box {
  padding: 1em;
}

.top-pad {
  padding-top: 1em;
}

.bottom-pad {
  padding-bottom: 1em;
}